
.innerDiv{
	overflow:hidden;
	padding: 10px 20px;
	text-align:center;
}
.information{
	padding:20px 0;
}
.workingHours{
		float:left;
	}

.contactsAndMap{
	width:100%;
}
.contacts{
display:inline-block;
vertical-align:middle;
margin:15px;
}
.contacts p {
  margin: 3px auto;
  text-align: center;
}
.mapWidget{
	width:60%;
	height:400px;
	display:inline-block;
	vertical-align:middle;
}
	.phone {
		vertical-align:top;
		margin:0 auto;
		display:table;
		padding-bottom:10px;
	}
		.phone-number{
			display:table-cell;
			vertical-align:middle;
		}
			.phone img{
				display:table-cell;
				padding-right:8px;
				vertical-align:middle;
			}
				.address{
					padding-bottom:10px;
					margin:0 auto;
					}
						.address a{
							font-size:0.8em;
							color:#214c16;
						}
							.address a:hover{
								text-decoration:none;
							}
								.socialSites{
									padding-bottom:10px;
									vertical-align:top;
								}
									.socialSites h1{
										font-size:1.56em;
									}
										.socialSites img{
											width:30px;
											margin:0 2px;
										}
.flamp{
	display:inline-block;
	vertical-align:middle;
	margin:10px;
}

@media screen and (max-width:900px){

  .mapWidget{
    width:90%;
  }
}
@media screen and (max-width:650px){
  .mapWidget{
    height:300px;
  }

  .informationBlock{
    width:100%;
    margin:10px 0;
  }
}
