
.content-box {
  padding:20px;
  text-align:center;
}
	.vacancy{
		width:45%;
		display:inline-block;
		margin:10px 20px;
		vertical-align:top;
	}
		.vacancy img{
			width:150px;
			float:left;
			margin:10px 10px 10px 0;
			border-radius:50px;
		}
			.vacancy p{
				text-align:left;
				text-indent:0;
        margin: 2px;
			}

@media screen and (max-width:900px){
  .content-box {
    padding:10px 10px 10px 60px;
    text-align:center;
  }
  .vacancy{
    width:100%;
    margin:10px 0;
  }
}
@media screen and (max-width:650px){
  .vacancy img{
    display:none;
  }
  input,textarea {
    width:90%;
  }
}
